
<head>
<title>Clients</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
            else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newClient() { showform('insert'); }
    function updateClient(clientID) { showform('update'); }
    function deleteClient(clientID)) { showform ('delete'); }
    function browseClients() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseClients()">
<h1>Clients</h1>

[ <a href="clients.hbs">Clients</a> | <a href="/">Weddings</a> | <a href="services.hbs"> Services</a> | <a href="payments.hbs"> Payments</a> | <a href="/weddingServices.hbs">Wedding Services</a> ]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table id="clients-table" border="1" cellpadding="5">
	{{!-- Header section --}}
	<thead>
		<tr>
			{{#each data.[0]}}
			<th>
				{{@key}}
			</th>
			{{/each}}
			<th>delete</th>
		</tr>
    </thead>

	{{!-- Body section --}}
	<tbody>
		{{#each data}}
		<tr>
		
			<td>{{this.clientID}}</td>
			<td>{{this.firstName}}</td>
			<td>{{this.lastName}}</td>
			<td>{{this.email}}</td>
			<td>{{this.phoneNum}}</td>
			<td>
				<form action="/delete-client" method="POST">
						<input type="hidden" name="clientID" value="{{this.clientID}}">
						<button type="submit">Delete</button>
				</form>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>

<script src=""></script>
<!-- /views/index.hbs -->
<h2>Add a New Client</h2>
<p>To add a new client, please enter the information below and click `Submit`!</p>
<form id="add-client-form" method="POST" action="/add-client-form">
    <label for="input-firstName">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName"><br>
    
    <label for="input-lastName">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName"><br>

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email"><br>

    <label for="input-phoneNum">Phone Number: </label>
        <input type="text" name="input-phoneNum" id="input-phoneNum"><br>

    <input type="submit">
</form>
</body>