
{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.weddingID}}</td>
            <td>{{this.clientID}}</td>
            <td>{{this.weddingDate}}</td>
            <td>{{this.location}}</td>
            <td>{{this.weddingType}}</td>
            <td>{{this.totalBudget}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<!-- /views/index.hbs -->
<h2>Add a New Wedding</h2>
<p>To add a new wedding, please enter the information below and click `Submit`!</p>
<form id="add-wedding-form" method="POST" action="/add-wedding-form">
    <select name="clientID">
              <option value="">Select Client: </option>
              {{#each clients}}
              <option value="{{this.clientID}}">{{this.clientID}}</option>
            {{/each}}
    </select><br>
    
    <label for="input-weddingDate">Wedding Date: </label>
    <input type="date" name="input-weddingDate" id="input-weddingDate"><br>

    <label for="input-location">Location: </label>
    <input type="text" name="input-location" id="input-location"><br>

    <label for="input-weddingType">Wedding Type: </label>
        <input type="text" name="weddingType" id="input-weddingType"><br>

    <label for="totalBudget">Total Budget: </label>
    <input type="number" name="input-totalBudget" id="input-totalBudget"><br>

    <input type="submit">
</form>