
<head>
<title>Payments</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
            else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newPayment() { showform('insert'); }
    function updatePayment(invoiceID) { showform('update'); }
    function deletePayment(invoiceID)) { showform ('delete'); }
    function browsePayments() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browsePayments()">
<h1>Payments</h1>

[ <a href="clients.hbs">Clients</a> | <a href="/">Weddings</a> | <a href="services.hbs"> Services</a> | <a href="payments.hbs"> Payments</a> | <a href="/weddingServices.hbs">Wedding Services</a> ]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table id="payments-table" border="1" cellpadding="5">
    {{!-- Header section --}}
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.invoiceID}}</td>
            <td>{{this.clientID}}</td>
            <td>{{this.invoiceDate}}</td>
            <td>{{this.totalAmount}}</td>
            <td>{{this.paymentDate}}</td>
            <td><form action="/delete-payment" method="POST">
                <input type="hidden" name="invoiceID" value="{{this.invoiceID}}">
                <button type="submit">Delete</button>
            </form></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src=""></script>
<!-- /views/index.hbs -->
<h2>Add a New Payment</h2>
<p>To add a new payment, please enter the information below and click `Submit`!</p>
<form id="add-payment-form" method="POST" action="/add-payment-form">
    <select name="input-clientID" id="input-clientID">
        <option value="">Select Client: </option>
        {{#each client}}
        <option value="{{this.clientID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select><br>
    
    <label for="input-invoiceDate">Invoice Date: </label>
    <input type="date" name="input-invoiceDate" id="input-invoiceDate"><br>

    <label for="input-totalAmount">Total Amount: </label>
    <input type="number" name="input-totalAmount" id="input-totalAmount"><br>

    <label for="input-paymentDate">Payment Date: </label>
        <input type="date" name="input-paymentDate" id="input-paymentDate"><br>

    <input type="submit">
</form>
</body>