
<head>
<title>Weddings</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newWedding() { showform('insert'); }
    function updateWedding(weddingID) { showform('update'); }
    function deleteWedding(weddingID)) { showform ('delete'); }
    function browseWeddings() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseWeddings()">
<h1>Weddings</h1>

[ <a href="/">Index</a> | <a href="clients.hbs">Clients</a> | <a href="weddings.hbs">Weddings</a> | <a href="services.hbs"> Services</a> | <a href="payments.hbs"> Payments</a> | <a href="/weddingServices.hbs">Wedding Services</a> ]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table id="wedding-table" border="1" cellpadding="5">
  {{! -- Header section --}}
  <thead>
   <tr>
        {{#each data.[0]}}
        <th>
            {{@key}}
        </th>
        {{/each}}
        <th>delete</th>
    </tr>
  </thead>

  {{!-- Body section --}}  
  {{#each data}}
  <tbody>
    <tr data-value={{this.id}}>
      <td>{{this.weddingID}}</td>
      <td>{{this.clientID}}</td>
      <td>{{this.weddingDate}}</td>
      <td>{{this.location}}</td>
      <td>{{this.weddingType}}</td>
      <td>{{this.totalBudget}}</td>
      <td><button onclick="deleteWedding({{this.weddingID}}">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script src="./js/delete_wedding.js"></script>
<!-- /views/index.hbs -->
<h2>Add a New Wedding</h2>
<p>To add a new wedding, please enter the information below and click `Submit`!</p>
<form id="add-wedding-form" method="POST" action="/add-wedding-form">
    <select name="input-clientID" id="input-clientID">
      <option value="">Select Client: </option>
      {{#each client}}
      <option value="{{this.clientID}}">{{this.lastName}}</option>
      {{/each}}
    </select><br>
    
    <label for="input-weddingDate">Wedding Date: </label>
    <input type="date" name="input-weddingDate" id="input-weddingDate"><br>

    <label for="input-location">Location: </label>
    <input type="text" name="input-location" id="input-location"><br>

    <label for="input-weddingType">Wedding Type: </label>
    <input type="text" name="input-weddingType" id="input-weddingType"><br>

    <label for="totalBudget">Total Budget: </label>
    <input min="0" type="number" name="input-totalBudget" id="input-totalBudget"><br>

    <input type="submit">
</form>
</body>