<body onload="browseweddingServices()">
<h1>Wedding Services</h1>

[ <a href="/">Index</a> | <a href="clients.hbs">Clients</a> | <a href="weddings.hbs">Weddings</a> | <a href="services.hbs"> Services</a> | <a href="payments.hbs"> Payments</a> | <a href="/weddingServices.hbs">Wedding Services</a> ]
<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>

<!-- Display Table -->
<table border="1" cellpadding="5">
    <tr>
        <th>Wedding ID</th>
        <th>Service ID</th>
        <th>Delete?</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.weddingID}}</td>
        <td>{{this.serviceID}}</td>

        <!-- Add Delete Form Inside Each Row -->
        <td>
    <form method="POST" action="/delete-wedding-service">
        <input type="hidden" name="weddingID" value="{{this.weddingID}}">
        <input type="hidden" name="serviceID" value="{{this.serviceID}}">
        <button type="submit">Delete</button>
    </form>
</td>
    </tr>
    {{/each}}
</table>
<p>&nbsp;</p>

<!-- Add Wedding Service Form -->
<h2>Add Wedding Service</h2>
<form id="add-service-form" method="POST" action="/add-wedding-service">
    <fieldset>
        <label for="input-weddingID">Select Wedding: </label>
        <select name="input-weddingID" id="input-weddingID" required>
            <option value="test"></option>
            {{#each wedding}}
            <option value="{{this.weddingID}}">{{this.weddingID}}</option>
            {{/each}}
        </select><br>

        <label for="input-serviceID">Select Service: </label>
        <select name="input-serviceID" id="input-serviceID" required>
            <option value="test"> </option>
            {{#each service}}
            <option value="{{this.serviceID}}">
                {{this.serviceID}} - {{this.serviceName}} ({{this.serviceType}})
            </option>
            {{/each}}
        </select><br>
    </fieldset>
    <input type="submit" value="Add Wedding Service">
</form>

<!-- Update Wedding Service -->
<h2>Update Wedding Information</h2>
<p>To update wedding information, please use the form below.</p>
<form id="update-wedding-form" method="POST" action="/update-wedding">
	<fieldset>
        <label for="update-weddingID">Select Wedding: </label>
        <select name="update-weddingID" id="update-weddingID" required>
            <option value="test"> </option>
            {{#each wedding}}
            <option value="{{this.weddingID}}">{{this.weddingID}}</option>
            {{/each}}
        </select><br>

        <label for="update-service">Select Service: </label>
        <select name="update-wedding-client" id="update-wedding-client" required>
            <option value="test"> </option>
            {{#each service}}
            <option value="{{this.serviceID}}">
                {{this.serviceID}} - {{this.serviceName}} ({{this.serviceType}})
            </option>
            {{/each}}
        </select><br>

	</fieldset>

    <input type="submit" value="Update Wedding Service">
    <input type="button" value="Cancel" onclick="browseweddingServices()">
</form>

<!-- Delete wedding service -->
<h2>Delete Wedding Service</h2>
<p>To delete a service from a wedding, select the corresponding wedding ID and service ID from the drop-down menu.</p>
<form id="delete-wedding-service-form" method="POST" action="/delete-wedding-service">
	<fieldset>
		<label for="weddingID">Select Wedding: </label>
		<select name="weddingID" id="weddingID" required>
             <option value="test"> </option>
			{{#each data}}
			<option value="{{this.weddingID}}">{{this.weddingID}}</option>
			{{/each}}
		</select>
        <br>
        <label for="serviceID">Select Service: </label>
        <select name="serviceID" id="serviceID" required>
            <option value="test"> </option>
            {{#each service}}
            <option value="{{this.serviceID}}">
                {{this.serviceID}} - {{this.serviceName}} ({{this.serviceType}})
            </option>
            {{/each}}
        </select>
	</fieldset>
		<input type="submit" value="Delete Wedding Service">
</form>
</body>
