<body onload="browseWeddings()">
<h1>Weddings</h1>

[ <a href="/">Index</a> | <a href="clients.hbs">Clients</a> | <a href="weddings.hbs">Weddings</a> | <a href="services.hbs"> Services</a> | <a href="payments.hbs"> Payments</a> | <a href="/weddingServices.hbs">Wedding Services</a> ]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table id="wedding-table" border="1" cellpadding="5">
  {{! -- Header section --}}
  <thead>
   <tr>
      <th>Wedding ID</th>
      <th>Client ID</th>
      <th>Wedding Date</th>
      <th>Location</th>
      <th>Wedding Type</th>
      <th>Total Budget ($)</th>
      <th>Delete</th>
    </tr>
  </thead>

  {{!-- Body section --}}  
  {{#each data}}
  <tbody>
    <tr data-value={{this.id}}>
      <td>{{this.weddingID}}</td>
      <td>{{this.clientID}}</td>
      <td>{{this.weddingDate}}</td>
      <td>{{this.location}}</td>
      <td>{{this.weddingType}}</td>
      <td>{{this.totalBudget}}</td>
       <td><form action="/delete-wedding" method="POST">
                <input type="hidden" name="weddingID" value="{{this.weddingID}}">
                <button type="submit">Delete</button>
            </form></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script src="./js/delete_wedding.js"></script>

<!-- Form to add wedding -->
<h2>Add a New Wedding</h2>
<p>To add a new wedding, please enter the information below and click `Add Wedding`!</p>
<form id="add-wedding-form" method="POST" action="/add-wedding-form">
  <fieldset>
    <label for="input-clientID">Select Name: </label>
    <select name="input-clientID" id="input-clientID">
      <option value=""> </option>
      {{#each client}}
      <option value="{{this.clientID}}">{{this.firstName}} {{this.lastName}}</option>
      {{/each}}
    </select><br>
    
    <label for="input-weddingDate">Wedding Date: </label>
    <input type="date" name="input-weddingDate" id="input-weddingDate"><br>

    <label for="input-location">Location: </label>
    <input type="text" name="input-location" id="input-location"><br>

    <label for="input-weddingType">Wedding Type: </label>
    <input type="text" name="input-weddingType" id="input-weddingType"><br>

    <label for="totalBudget">Total Budget: </label>
    <input min="0" type="number" name="input-totalBudget" id="input-totalBudget"><br>
  </fieldset>
    <input type="submit" value="Add Wedding">
</form>

<!-- Form to update wedding information -->
<h2>Update Wedding Information</h2>
<p>To update wedding information, please use the form below.</p>
<form id="update-wedding-form" method="POST" action="/update-wedding">
	<fieldset>
        <label for="update-weddingID">Wedding ID: </label>
        <select name="update-weddingID" id="update-weddingID" required>
            <option value="test"> </option>
            {{#each data}}
            <option value="{{this.weddingID}}">{{this.weddingID}}</option>
            {{/each}}
        </select><br>

        <label for="update-client">Client: </label>
        <select name="update-wedding-client" id="update-wedding-client" required>
            <option value="test">Select Client: </option>
            {{#each client}}
            <option value="{{this.clientID}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select><br>

        <label for="update-weddingDate">Wedding Date: </label>
        <input type="date" name="update-weddingDate" id="update-weddingDate" required><br>
        
        <label for="update-location">Location: </label>
        <input type="text" name="update-location" id="update-location" required><br>

        <label for="update-weddingType">Wedding Type: </label>
        <input type="text" name="update-weddingType" id="update-weddingType"><br>

        <label for="update-totalBudget">Total Budget: </label>
        <input min="0" type="number" name="update-totalBudget" id="update-totalBudget">
	</fieldset>

    <input type="submit" value="Update Wedding">
    <input type="button" value="Cancel" onclick="browseWeddings()">
</form>

<!-- Form to delete wedding -->
<h2>Delete Wedding</h2>
<p>To delete a wedding, select the corresponding wedding ID from the drop-down menu.</p>
<form id="delete-wedding-form" method="POST" action="/delete-wedding">
	<fieldset>
		<label for="weddingID">Select ID: </label>
    
		<select name="weddingID" id="weddingID" required>
      <option value="test"> </option>
			{{#each data}}
			<option value="{{this.weddingID}}">{{this.weddingID}}</option>
			{{/each}}
		</select>
	</fieldset>
		<input type="submit" value="Delete Wedding">
</form>
</body>